<h1>Welcome to AllUsers Page!</h1>
<br>
<h3>Our Users:</h3>
<br>
{{#each users}}
    {{this.name}}
    <br>
{{/each}}
<hr>
<a href="register">Register new user</a>
<br>
<a href="loginpage">Login page</a>
