<h2>Registration page</h2>
<form action="/reg" method="post">
    <label for="name">Enter yor email</label>
    <input type="text" name="name">
    <label for="pass">Enter password</label>
    <input type="text" name="pass">
    <input type="submit" value="register">
</form>
